In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
#train,testをcsvに変換
train = pd.read_csv("../Downloads/Titanic/train.csv")
test = pd.read_csv("../Downloads/Titanic/test.csv")

In [3]:
#preprocess(データの事前処理)
#trainデータの文字列を数値に変換
train['Sex'][train['Sex'] == 'male'] = 0
train['Sex'][train['Sex'] == 'female'] = 1
train['Embarked'][train['Embarked'] == 'S'] = 0
train['Embarked'][train['Embarked'] == 'C'] = 1
train['Embarked'][train['Embarked'] == 'Q'] = 2
train['Embarked'] = train['Embarked'].fillna(0)
#fareのnanに中央値を代入
test['Fare'] = test['Fare'].fillna(test['Fare'].median())
#ageのnanに平均値を代入
train['Age'] = train['Age'].fillna(train['Age'].mean())
test['Age'] = test['Age'].fillna(test['Age'].mean())
#testデータの文字列を数値に変換
test['Sex'][test['Sex'] == 'male'] = 0
test['Sex'][test['Sex'] == 'female'] = 1
test['Embarked'][test['Embarked'] == 'S'] = 0
test['Embarked'][test['Embarked'] == 'C'] = 1
test['Embarked'][test['Embarked'] == 'Q'] = 2
#Cabin以外の欠損値がないことを確認
print(test.isnull().sum())
print(train.isnull().sum())

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
#import
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import grid_search
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import csv

/anaconda3/lib/python3.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [5]:
target = train[["Pclass","Age","Sex","Fare", "SibSp", "Parch", "Embarked"]].values
feature = train.Survived
randfore = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=13, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=16,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)
randfore = randfore.fit(target, feature)

In [6]:
testfeature = test[["Pclass","Age","Sex","Fare", "SibSp", "Parch", "Embarked"]].values
pred = randfore.predict(testfeature)

In [7]:
#testに推測したSurvivedの値を追加
test['Survived'] = pred

In [8]:
pd.concat([train, test], ignore_index=True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.000000,NaN,0,7.2500,"Braund, Mr. Owen Harris",0,1,3,0,1,0,A/5 21171
1,38.000000,C85,1,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,1,1,1,PC 17599
2,26.000000,NaN,0,7.9250,"Heikkinen, Miss. Laina",0,3,3,1,0,1,STON/O2. 3101282
3,35.000000,C123,0,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,1,1,1,113803
4,35.000000,NaN,0,8.0500,"Allen, Mr. William Henry",0,5,3,0,0,0,373450
5,29.699118,NaN,2,8.4583,"Moran, Mr. James",0,6,3,0,0,0,330877
6,54.000000,E46,0,51.8625,"McCarthy, Mr. Timothy J",0,7,1,0,0,0,17463
7,2.000000,NaN,0,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,0,3,0,349909
8,27.000000,NaN,0,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,1,0,1,347742
9,14.000000,NaN,1,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,1,1,1,237736
10,4.000000,G6,0,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,1,1,1,PP 9549
11,58.000000,C103,0,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,1,0,1,113783
12,20.000000,NaN,0,8.0500,"Saundercock, Mr. William Henry",0,13,3,0,0,0,A/5. 2151
13,39.000000,NaN,0,31.2750,"Andersson, Mr. Anders Johan",5,14,3,0,1,0,347082
14,14.000000,NaN,0,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,1,0,0,350406
15,55.000000,NaN,0,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,1,0,1,248706
16,2.000000,NaN,2,29.1250,"Rice, Master. Eugene",1,17,3,0,4,0,382652
17,29.699118,NaN,0,13.0000,"Williams, Mr. Charles Eugene",0,18,2,0,0,1,244373
18,31.000000,NaN,0,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,1,1,0,345763
19,29.699118,NaN,1,7.2250,"Masselmani, Mrs. Fatima",0,20,3,1,0,1,2649
20,35.000000,NaN,0,26.0000,"Fynney, Mr. Joseph J",0,21,2,0,0,0,239865
21,34.000000,D56,0,13.0000,"Beesley, Mr. Lawrence",0,22,2,0,0,1,248698
22,15.000000,NaN,2,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,1,0,1,330923
23,28.000000,A6,0,35.5000,"Sloper, Mr. William Thompson",0,24,1,0,0,1,113788
24,8.000000,NaN,0,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,1,3,0,349909
25,38.000000,NaN,0,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,1,1,1,347077
26,29.699118,NaN,1,7.2250,"Emir, Mr. Farred Chehab",0,27,3,0,0,0,2631
27,19.000000,C23 C25 C27,0,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,0,3,0,19950
28,29.699118,NaN,2,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,1,0,1,330959
29,29.699118,NaN,0,7.8958,"Todoroff, Mr. Lalio",0,30,3,0,0,0,349216
...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.000000,NaN,2,7.7500,"Canavan, Mr. Patrick",0,1280,3,0,0,0,364858
1280,6.000000,NaN,0,21.0750,"Palsson, Master. Paul Folke",1,1281,3,0,3,0,349909
1281,23.000000,B24,0,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,0,0,0,12749
1282,51.000000,D28,0,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,1,0,1,PC 17592
1283,13.000000,NaN,0,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,0,0,0,C.A. 2673
1284,47.000000,NaN,0,10.5000,"Gilbert, Mr. William",0,1285,2,0,0,0,C.A. 30769
1285,29.000000,NaN,0,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,0,3,0,315153
1286,18.000000,C31,0,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,1,1,1,13695
1287,24.000000,NaN,2,7.2500,"Colbert, Mr. Patrick",0,1288,3,0,0,0,371109
1288,48.000000,B41,1,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,1,1,1,13567
1289,22.000000,NaN,0,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,0,0,0,347065
1290,31.000000,NaN,2,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,0,0,0,21332
1291,30.000000,C7,0,164.8667,"Bonnell, Miss. Caroline",0,1292,1,1,0,1,36928
1292,38.000000,NaN,0,21.0000,"Gale, Mr. Harry",0,1293,2,0,1,0,28664
1293,22.000000,NaN,1,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,1,0,1,112378
1294,17.000000,NaN,0,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,0,0,0,113059
1295,43.000000,D40,1,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,0,1,0,17765
1296,20.000000,D38,1,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,0,0,0,SC/PARIS 2166
1297,23.000000,NaN,0,10.5000,"Ware, Mr. William Jeffery",0,1298,2,0,1,0,28666
1298,50.000000,C80,1,211.5000,"Widener, Mr. George Dunton",1,1299,1,0,1,0,113503
1299,30.272590,NaN,2,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,1,0,1,334915
1300,3.000000,NaN,0,13.7750,"Peacock, Miss. Treasteall",1,1301,3,1,1,1,SOTON/O.Q. 3101315
1301,30.272590,NaN,2,7.7500,"Naughton, Miss. Hannah",0,1302,3,1,0,1,365237
1302,37.000000,C78,2,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,1,1,1,19928
1303,28.000000,NaN,0,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,1,0,0,347086
1304,30.272590,NaN,0,8.0500,"Spector, Mr. Woolf",0,1305,3,0,0,0,A.5. 3236
1305,39.000000,C105,1,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,1,0,1,PC 17758
1306,38.500000,NaN,0,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,0,0,0,SOTON/O.Q. 3101262
1307,30.272590,NaN,0,8.0500,"Ware, Mr. Frederick",0,1308,3,0,0,0,359309
1308,30.272590,NaN,1,22.3583,"Peter, Master. Michael J",1,1309,3,0,1,0,2668

In [9]:
target = train[["Pclass","Age","Sex","Fare", "SibSp", "Parch", "Embarked"]].values
feature = train.Survived
parameters = {
        'n_estimators'      : [25,50,75,100],
        'random_state'      : [0],
        'n_jobs'            : [2],
        'min_samples_split' : [16,17,18,19,20,21,22,23,24],
        'max_depth'         : [13,14,15,16,17,18,19,20,21,22,23]
}

clf = grid_search.GridSearchCV(RandomForestClassifier(), parameters)
clf.fit(target, feature)
 
print(clf.best_estimator_)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=13, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=16,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [10]:
randfore = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=13, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=16,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)
randfore = randfore.fit(target, feature)

In [11]:
testfeature = test[["Pclass","Age","Sex","Fare", "SibSp", "Parch", "Embarked"]].values
pred = randfore.predict(testfeature)

In [12]:
print(pred)

[0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 0 1 0 0
 0 0 0 0 1 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 0 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 0 1 0 0 1 0 0 1 0 1 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 0 0 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 0 0 1 0 0 0]

In [14]:
PassengerId = np.array(test["PassengerId"]).astype(int)#passangerIDを取得
randfore_grid = pd.DataFrame(pred, PassengerId, columns = ["Survived"])# データフレームへ落とし込む
randfore_grid.to_csv("train_test.csv", index_label = ["PassengerId"])